.idea/cobweb-website.iml
.idea/jsLibraryMappings.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
__pycache__/adaptive_expectations.cpython-312.pyc
__pycache__/cobweb.cpython-312.pyc
__pycache__/cobweb.cpython-313.pyc
__pycache__/cobweb_equations.cpython-313.pyc
__pycache__/adaptive_expectations.cpython-313.pyc
secret.env