<div class="dropdown-math-content">
    <table class="math-table">
        <tr class="fixed-row">
            <td>
                <button type="button" class="table-button">7</button>
            </td>
            <td>
                <button type="button" class="table-button">8</button>
            </td>
            <td>
                <button type="button" class="table-button">9</button>
            </td>
            <td>
                <button type="button" class="table-button">√</button>
            </td>
            <td>
                <button type="button" class="table-button" id="remove" onclick="removeLastSymbol()"><span>⌫</span>
                </button>
            </td>
            <td>
                <button type="button" class="table-button" id="removeAll" onclick="removeAllFromField()">C</button>
            </td>
        </tr>
        <tr>
            <td>
                <button type="button" class="table-button">4</button>
            </td>
            <td>
                <button type="button" class="table-button">5</button>
            </td>
            <td>
                <button type="button" class="table-button">6</button>
            </td>
            <td>
                <button type="button" class="table-button">(</button>
            </td>
            <td>
                <button type="button" class="table-button">)</button>
            </td>
            <td>
                <button type="button" class="table-button">^</button>
            </td>
        </tr>
        <tr>
            <td>
                <button type="button" class="table-button">1</button>
            </td>
            <td>
                <button type="button" class="table-button">2</button>
            </td>
            <td>
                <button type="button" class="table-button">3</button>
            </td>
            <td>
                <button type="button" class="table-button">x</button>
            </td>
            <td>
                <button type="button" class="table-button">n</button>
            </td>
            <td>
                <button type="button" class="table-button">.</button>
            </td>
        </tr>
        <tr>
            <td>
                <button type="button" class="table-button">-</button>
            </td>
            <td>
                <button type="button" class="table-button">0</button>
            </td>
            <td>
                <button type="button" class="table-button">+</button>
            </td>
            <td>
                <button type="button" class="table-button">*</button>
            </td>
            <td>
                <button type="button" class="table-button">/</button>
            </td>
            <td>
                <button type="button" class="table-button">=</button>
            </td>
        </tr>
    </table>
</div>
