.calculator-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#calc-rect {
    margin-top: 50px;
    height: fit-content;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.dropdown-math-content {
    height: 100%;
}

.eq-cont {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 45px 0 0;
    height: 85%;
}

.form-container {
    width: 100%;
    justify-content: center;
    display: flex;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 11px;
    width: 100%;
}

label {
    font-family: sans-serif;
    font-size: 18px;
}

#eq-btn {
    padding: 10px 35px;
    margin: 0px 10px 30px;
}

#equation-input {
    margin-top: 2px;
    width: 65%;
    font-size: 1.2rem;
    transition: all 0.5s ease-in-out
}

#equation-input:focus, #p0:focus, #p1:focus {
    box-shadow: 0 7px 5px rgba(0, 0, 0, 0.1);
    transform: translateY(-2px);
}

.calc-container {
    background-color: white;
    padding: 10px;
    border-radius: 19px;
    width: 80%;
    /* max-width: 100%; */
    /* overflow-x: auto; */
    height: 65%;
    margin-top: 32px;
}

.math-table {
    height: 100%;
    width: 100%;
    table-layout: fixed;
}

.table-button {
    width: 99%;
    border: none;
    border-radius: 5px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 16px;
    margin: 1px;
    cursor: pointer;
    height: 90%;
}

.table-button:hover, .toggle-button:hover {
    background-color: lightgrey;
}

.eq-answer-cont {
    background-color: white;
    width: 30%;
    border-radius: 50px;
    height: 65vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.eq-answer {
    display: inline-block;
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 8px;
    max-width: 70%;
    word-wrap: break-word;
    white-space: normal;
}

.init-cond {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 27px;
    /* gap: 13px; */
}

#p0, #p1 {
    margin: 7px 0 23px;
    transition: all 0.5s ease-in-out
}

label {
    font-size: 1rem;
}