.data-page {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.parent-cont {
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 70px;
    width: 100%;
    margin: 50px;
}

.form-cont, .answer-cont {
    background-color: #e8e8e8;
    border-radius: 50px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-cont {
    width: 22%;
    padding: 25px 15px;
}

.answer-cont {
    padding: 60px 0;
    width: 60%;
}

.data-graph {
    background-color: #D9D9D9;
    border-radius: 50px;
    height: 76vh;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#submit-btn {
    padding: 15px;
}

#ai-btn {
    padding: 20px;
}

.input-cont, .select-cont {
    width: 100%;
    margin-bottom: 15px;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
}

form {
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

label {
    margin-bottom: 10px;
}

.plot {
    height: 30%;
    width: 50%;
}

#plot {
    width: 100%;
    height: 100%;
    clip-path: inset(0 round 50px);
}

.func-selection {
    border-radius: 10px;
    padding: 10px 15px;
    font-size: 1rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border: none;
    outline: none;
}