html, body {
    background-color: #183884;
    margin: 0;
    padding: 0;
}

html {
    height: 100vh;
}

body {
    height: 100%;
}
 h1 {
     text-align: center;
 }

.rectangle {
    background-color: #e8e8e8;
    border-radius: 50px;
    width: 75%;
    padding: 35px;
}

.btn {
    background-color: #183884;
    color: white;
    border: none;
    border-radius: 50px;
    font-size: 1.1rem;
    margin-top: 20px;
    cursor: pointer;
    box-shadow: 3px 6px 17px dimgray;
    transition: all 0.2s ease-in-out;
}

.btn:hover {
    background-color: #204aaf;
}

.btn:active {
    box-shadow: 1px 3px 8px black;
    transform: translateY(2px);
}

.data-input, .eq-input {
    padding: 10px 15px;
    border-radius: 30px;
    font-size: 1rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border: none;
    outline: none;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: #e8e8e8;
}

*::-webkit-scrollbar-thumb {
    background-color: #183884;
    border-radius: 20px;
    border: 3px solid #e8e8e8;
}

.upper-menu {
    background-color: #e8e8e8;
    padding: 16px;
    width: -webkit-fill-available;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.dropdown-btn, .lang-btn, .diff-calc {
    color: black;
    padding: 16px;
    font-size: 14px;
    border: none;
    cursor: pointer;
    background-color: transparent;
    font-family: sans-serif;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: sans-serif;
    font-size: 13px;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropdown-btn, .lang-btn:hover, .diff-calc:hover {
    background-color: #D9D9D9;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: inherit;
}

.logo-svg {
    margin: 10px 10px 10px 20px;
}

.logo-text {
    font-size: 26px;
    font-family: sans-serif;
}

.error-message {
    color: red;
    font-weight: bold;
    font-size: 0.7rem;
    display: inline-block;
    font-family: sans-serif;
    text-align: center;
}