.params_page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p {
    max-width: 80%;
    font-size: larger;
}

.answer-cont {
    margin-top: 50px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.answer-cont {
    padding: 0;
}

.form-cont {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
}

p {
    text-align: left;
}