<!DOCTYPE html>
<html lang="en">
{% block extra_css %}{% endblock %}
{% block extra_js %}{% endblock %}
<head>
    <meta charset="UTF-8">
    <title>Models</title>
    <link rel="stylesheet" href="../static/css/global.css"/>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
<div class="upper-menu">
    <div class="logo">
        <svg class="logo-svg" width="80" height="40" viewBox="0 0 191 108" fill="none"
             xmlns="http://www.w3.org/2000/svg">
            <line x1="26.7309" y1="79.9076" x2="61.7309" y2="42.9076" stroke="#D8D8D8" stroke-width="9"/>
            <line x1="130.731" y1="62.9076" x2="165.731" y2="25.9076" stroke="#D8D8D8" stroke-width="9"/>
            <line x1="82.7963" y1="42.4743" x2="111.796" y2="65.4743" stroke="#D9D9D9" stroke-width="9"/>
            <circle cx="17.5" cy="90.5" r="17.5" fill="#3B5DAF"/>
            <circle cx="69.5" cy="34.5" r="17.5" fill="#F84E4E"/>
            <circle cx="121.5" cy="73.5" r="17.5" fill="#3B5DAF"/>
            <circle cx="173.5" cy="17.5" r="17.5" fill="#F84E4E"/>
        </svg>
        <a class="logo-text">Models</a>
    </div>

    <div class="dropdown-container">
        <div class="dropdown">
            <button class="dropdown-btn"><u>Visualization</u></button>
            <div class="dropdown-content">
                <a href="/model/cobweb">Cobweb</a>
                <a href="/model/cobweb_func">Cobweb with function</a>
                <a href="/model/adapt_exp">Adaptive Expectations</a>
                <a href="/model/normal_price">Normal price</a>
                <a href="/model/demand_supply">Demand and Supply</a>
            </div>
        </div>

        <div class="dropdown">
            <button class="dropdown-btn"><u>Introduction</u></button>
            <div class="dropdown-content">
                <a href="/intro?name=cobweb">Cobweb</a>
                <a href="/intro?name=adapt_exp">Adaptive Expectations</a>
                <a href="/intro?name=diff_eq">Difference equations</a>
            </div>
        </div>

        <div class="dropdown">
            <button class="dropdown-btn"><u>Parameters use</u></button>
            <div class="dropdown-content">
                <a href="/params?name=cobweb">Cobweb</a>
                <a href="/params?name=adapt_exp">Adaptive Expectations</a>
            </div>
        </div>

        <a href="/calculator">
            <button class="diff-calc"><u>DR Calculator</u></button>
        </a>

        <a href="?lang=en"><button class="diff-calc"><u>EN</u></button></a>|<a href="?lang=sk"><button class="diff-calc"><u>SK</u></button></a>
    </div>
</div>

{% block content %}{% endblock %}
</body>
</html>