<!DOCTYPE html>
<html lang="en">
{% block extra_css %}{% endblock %}
{% block extra_js %}{% endblock %}
<head>
    <meta charset="UTF-8">
    <title>Models</title>
    <link rel="stylesheet" href="../static/css/global.css"/>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
<div class="upper-menu">
    <div class="logo">
        <svg class="logo-svg" width="80" height="40" viewBox="0 0 191 108" fill="none"
             xmlns="http://www.w3.org/2000/svg">
            <line x1="26.7309" y1="79.9076" x2="61.7309" y2="42.9076" stroke="#D8D8D8" stroke-width="9"/>
            <line x1="130.731" y1="62.9076" x2="165.731" y2="25.9076" stroke="#D8D8D8" stroke-width="9"/>
            <line x1="82.7963" y1="42.4743" x2="111.796" y2="65.4743" stroke="#D9D9D9" stroke-width="9"/>
            <circle cx="17.5" cy="90.5" r="17.5" fill="#3B5DAF"/>
            <circle cx="69.5" cy="34.5" r="17.5" fill="#F84E4E"/>
            <circle cx="121.5" cy="73.5" r="17.5" fill="#3B5DAF"/>
            <circle cx="173.5" cy="17.5" r="17.5" fill="#F84E4E"/>
        </svg>
        <a class="logo-text">Models</a>
    </div>

    <div class="dropdown-container">
        <div class="dropdown">
            {% if language == "en" %}
                <button class="dropdown-btn"><u>Visualization</u></button>
            {% else %}
                <button class="dropdown-btn"><u>Vizualizácia</u></button>
            {%endif%}
            <div class="dropdown-content">
                {% if language == "en" %}
                    <a href="/model/cobweb">Cobweb</a>
                    <a href="/model/cobweb_func">Cobweb with function</a>
                    <a href="/model/adapt_exp">Adaptive expectations</a>
                    <a href="/model/normal_price">Normal price</a>
                    <a href="/model/demand_supply">Demand and supply</a>
                {% else %}
                    <a href="/model/cobweb">Pavučinový model</a>
                    <a href="/model/cobweb_func">Pavučinový model s funkciou</a>
                    <a href="/model/adapt_exp">Adaptívne očakávania</a>
                    <a href="/model/normal_price">Normálna cena</a>
                    <a href="/model/demand_supply">Ponuka a dopyt</a>
                {%endif%}
            </div>
        </div>

        <div class="dropdown">
            {% if language == "en" %}
                <button class="dropdown-btn"><u>Introduction</u></button>
            {% else %}
                <button class="dropdown-btn"><u>Úvod</u></button>
            {%endif%}
            <div class="dropdown-content">
                {% if language == "en" %}
                    <a href="/intro/cobweb">Cobweb</a>
                    <a href="/intro/adapt_exp">Adaptive expectations</a>
                    <a href="/intro/normal_price">Normal price</a>
                    <a href="/intro/demand_supply">Demand and supply</a>
                    <a href="/intro/diff_eq">Difference equations</a>
                {% else %}
                    <a href="/intro/cobweb">Pavučinový model</a>
                    <a href="/intro/adapt_exp">Adaptívne očakávania</a>
                    <a href="/intro/normal_price">Normálna cena</a>
                    <a href="/intro/demand_supply">Ponuka a dopyt</a>
                    <a href="/intro/diff_eq">Diferenčné rovnice</a>
                {%endif%}
            </div>
        </div>

        <div class="dropdown">
            {% if language == "en" %}
                <button class="dropdown-btn"><u>Parameters use</u></button>
            {% else %}
                <button class="dropdown-btn"><u>Použitie parametrov</u></button>
            {%endif%}
            <div class="dropdown-content">
                {% if language == "en" %}
                    <a href="/params/cobweb">Cobweb</a>
                    <a href="/params/adapt_exp">Adaptive expectations</a>
                    <a href="/params/normal_price">Normal price</a>
                    <a href="/params/demand_supply">Demand and supply</a>
                    <a href="/params/diff_eq">DE calculator</a>
                {% else %}
                    <a href="/params/cobweb">Pavučinový model</a>
                    <a href="/params/adapt_exp">Adaptívne očakávania</a>
                    <a href="/params/normal_price">Normálna cena</a>
                    <a href="/params/demand_supply">Ponuka a dopyt</a>
                    <a href="/params/diff_eq">DR kalkulačka</a>
                {%endif%}
            </div>
        </div>

        <a href="/calculator" class="diff-calc" style="text-decoration: underline;">
            {% if language == "en" %}
                DE calculator
            {% else %}
                Kalkulačka DR
            {%endif%}
        </a>

        <a href="?lang=en" class="lang-btn" style="text-decoration: underline;">EN</a>|<a href="?lang=sk" class="lang-btn" style="text-decoration: underline;">SK</a>
    </div>
</div>

{% block content %}{% endblock %}
</body>
</html>