{% extends "base.html" %}

{%block extra_css%}
<link rel="stylesheet" href="../static/css/calculator.css"/>{% endblock %}
{% block extra_js %}
<script src="../static/js/data.js" defer></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js"></script>
{% endblock %}

{% block content %}
<div class="calculator-page">
    <div class="rectangle calc-rect before">
        <div class="eq-cont">
            <form id="calc-form">
                <label for="equation-input" style="display: block;">Please write your difference equation: </label>
                <div class="eq-input-cont">
                    <input class="eq-input" id="equation-input" required readonly placeholder="x(n+1) + 2*x(n) = 2^n"/>
                    <div class="error-message"></div>
                </div>
                <div class="calc-container">
                    {% include 'partials/math_table_calc.html' %}
                </div>
                <div class="init-cond">
                    <label for="p0">Initial condition p0:</label>
                    <div class="eq-init-cond">
                        <input class="eq-input" type="number" id="p0"/>
                        <div class="error-message"></div>
                    </div>
                    <label for="p1">Initial condition p1:</label>
                    <div class="eq-init-cond">
                        <input class="eq-input" type="number" id="p1"/>
                        <div class="error-message"></div>
                    </div>
                </div>
                <button class="btn" id="eq-btn" type="submit">Solve</button>
            </form>
        </div>
<!--        <div class="general-eq-cont">-->
<!--            <div class="eq-answer-cont">-->
<!--                <div class="eq-answer" id="solution-container">-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
    </div>
</div>
{% endblock %}