{% extends "base.html" %}

{% block title %}{{ model.name }}{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="../static/css/data.css"/>
{% endblock %}

{% block content %}
<div class="data-page">
    <div class="parent-cont">
        <div class="form-cont">
            <h1>{{ model.name }}</h1>
            <form id="dataForm">
                {% if model.functions is defined %}
                <div class="select-cont">
                    <label for="{{ func|lower }}">Function:</label>
                    <select class="func-selection" id="{{ func|lower }}" name="functions">
                        {% for func in model.functions %}
                        <option value="{{ func }}">{{ func }}</option>
                        {% endfor %}
                    </select>
                </div>
                {% endif %}
                {% for field in model.fields %}
                <div class="input-cont">
                    <label for="{{ field|lower }}">{{ field }}:</label>
                    {% if field == "Price" or field == "Start price" or field == "End price" or field == "Initial price"
                    or field == "Previous price" or field == "Normal price" %}
                    <input class="data-input" id="{{ field|lower }}" name="{{ field|lower }}"
                           step="any" max="0" required oninput="validatePositiveNumbers(this)"/>
                    {% elif field == "Iterations" or field == "Periods" %}
                    <input class="data-input" id="{{ field|lower }}" name="{{ field|lower }}"
                           step="any" max="0" required oninput="validateWholeNumbers(this)"/>
                    {% else %}
                    <input class="data-input" id="{{ field|lower }}" name="{{ field|lower }}"
                           step="any" required/>
                    {% endif %}
                </div>
                {% endfor %}
                <button type="submit" class="btn" id="submit-btn">Submit data</button>
            </form>
        </div>
        <div class="answer-cont">
            {% if "Cobweb" in model.name %}
            <div class="graphs-container">
                <div class="cobweb-graph">
                    <div id="plot"></div>
                    <script class="plot">
                        var graph = JSON.parse('{{ graph_json | safe }}');
                        Plotly.newPlot('plot', graph.data, graph.layout, {responsive: true});
                    </script>
                </div>
                <div class="pp-graph">
                    <div id="pp-plot"></div>
                    <script class="pp-plot">
                        var pp_graph = JSON.parse('{{ pp_graph_json | safe }}');
                        Plotly.newPlot('pp-plot', pp_graph.data, pp_graph.layout, {responsive: true});
                    </script>
                </div>
            </div>
            {% else %}
            <div class="data-graph">
                <div id="plot"></div>
                <script class="plot">
                    var graph = JSON.parse('{{ graph_json | safe }}');
                    Plotly.newPlot('plot', graph.data, graph.layout, {responsive: true});
                    console.log("this is one plot")
                </script>
            </div>
            {% endif %}
            <!--            <button class="btn" id="ai-btn">Analyze graph with AI</button>-->
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js%}
<script>
    document.getElementById("dataForm").addEventListener("submit", function (event) {
        event.preventDefault();

        let formData = {};
        let inputs = document.querySelectorAll("input[class='data-input']");

        for (let input of inputs) {
            let fieldsName = input.name;
            let fieldValue = input.value;

            formData[fieldsName] = isNaN(fieldValue) || fieldValue.trim() === "" ? fieldValue : parseFloat(fieldValue);
        }

        let functionInput = document.querySelector("select.func-selection");
        if (functionInput) {
            console.log(functionInput);
            formData[functionInput.name] = functionInput.value;
        }

        const modelName = "{{ model_name }}";
        console.log("Model Name:", modelName);
        console.log("FormData: ", formData);

        fetch("/model/" + modelName, {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify(formData)
        })
            .then(response => response.json())
            .then(data => {
                console.log("Success:", data);

                const graph = JSON.parse(data.graph_json);
                Plotly.newPlot('plot', graph.data, graph.layout, {responsive: true});

                const pp_graph = JSON.parse(data.pp_graph_json);
                Plotly.newPlot('pp-plot', pp_graph.data, pp_graph.layout, {responsive: true});
            })
            .catch(error => {
                console.error("Error:", error);
            });
    });

    function validatePositiveNumbers(input) {
        if (parseFloat(input.value) <= 0) {
            input.setCustomValidity("In this field must be a positive value!");
        } else {
            input.setCustomValidity("");
        }
    }

    function validateWholeNumbers(input) {
        if (parseFloat(input.value) % 1 !== 0) {
            input.setCustomValidity("This field should contains be a whole number!");
        } else {
            input.setCustomValidity("");
        }
    }
</script>
{% endblock %}
