{% extends "base.html" %}

{% block title %}{{ model.name }}{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="../static/css/data.css"/>
{% endblock %}

{% block content %}
<div class="data-page">
    <div class="parent-cont">
        <div class="form-cont">
            <h1>{{ model.name }}</h1>
            <form id="dataForm">
                {% for field in model.fields %}
                <div class="input-cont">
                    <label for="{{ field|lower }}">{{ field }}:</label>
                    <input class="data-input" id="{{ field|lower }}" type="number" name="{{ field|lower }}" min="0"
                           step="any" required/>
                </div>
                {% endfor %}
                <button type="submit" class="btn" id="submit-btn">Submit data</button>
            </form>
        </div>
        <div class="answer-cont">
            <div class="data-graph">
                <div id="plot"></div>
                <script class="plot">
                    var graph = JSON.parse('{{ graph_json | safe }}');
                    Plotly.newPlot('plot', graph.data, graph.layout, {responsive: true});
                </script>
            </div>
            <button class="btn" id="ai-btn">Analyze graph with AI</button>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js%}
<script>
    document.getElementById("dataForm").addEventListener("submit", function (event) {
        event.preventDefault();

        let formData = {};
        let inputs = document.querySelectorAll("input[type='number']");

        const params = new URLSearchParams(window.location.search);
        const modelName = params.get("name");
        console.log(modelName);

        for (let input of inputs) {
            let fieldsName = input.name;
            if ((fieldsName === "iterations" || fieldsName === "periods") && input.value % 1 !== 0) {
                alert("Please enter only a whole number for '" + fieldsName + "' field!");
                event.preventDefault();
                return;
            }

            formData[input.name] = parseFloat(input.value);
        }

        fetch("/model?name=" + modelName, {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify(formData)
        })
            .then(response => response.json())
            .then(data => {
                console.log("Success:", data);

                const graph = JSON.parse(data.graph_json);
                Plotly.newPlot('plot', graph.data, graph.layout, {responsive: true});
            })
            .catch(error => {
                console.error("Error:", error);
            });
    });
</script>
{% endblock %}
